sourceDir = "/home/christian/code/dotfiles"
encryption = "age"
[age]
    identity = "/home/christian/.keys/age_chezmoi_key.txt"
    recipient = "age1apnl93pm2smqnd5pkh04suhj3h9a73wtg05p3mtugzw75y8jyg3scfser2"
